:root {
  --bg-gradient-light: linear-gradient(135deg, #f0f4ff 0%, #ffd4b8 100%);
  --bg-gradient-dark: linear-gradient(135deg, #1a1f35 0%, #2d1b24 100%);
  --desktop-bg-light: rgba(255, 255, 255, 0.8);
  --desktop-bg-dark: rgba(31, 35, 45, 0.7);
  --text-color-light: #1a1a1a;
  --text-color-dark: #ffffff;
  --accent-color-light: #007aff;
  --accent-color-dark: #3d7eff;
  --border-color-light: rgba(0, 0, 0, 0.1);
  --border-color-dark: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  width: 0px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.light {
  background: var(--bg-gradient-light);
  /* background-image: url("https://media.istockphoto.com/id/1535511484/photo/tv-cabinet-in-a-scandinavian-decor-living-room.jpg?s=612x612&w=0&k=20&c=mGtquet42E389LKmrGam7dWIAGDEZGF2N0M0FwZspFk="); */
  color: var(--text-color-light);
  background-position: center;
  background-size: cover;
}

html.dark {
  background: var(--bg-gradient-dark);
  color: var(--text-color-dark);
  /* background-image: url('https://media.istockphoto.com/id/1933752815/photo/modern-interior-of-living-room-with-leather-armchair-on-wood-flooring-and-dark-blue-wall.jpg?s=612x612&w=0&k=20&c=KqVE2Sh7Mjx_EBQC3bN1X3YPyCtcMCttKKB0aKnFN3E='); */
  background-position: center;
  background-size: cover;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  scrollbar-width: 0px !important;
}

.desktop {
  width: 1200px;
  height: 700px;
  border-radius: 24px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  opacity: 0;
  transform: scale(0.9);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;

}

.light .desktop {
  background: var(--desktop-bg-light);
  border: 1px solid var(--border-color-light);
}

.dark .desktop {
  background: var(--desktop-bg-dark);
  border: 1px solid var(--border-color-dark);
  backdrop-filter: blur(10px);
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.greeting {
  font-size: 2.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.light .greeting {
  color: var(--text-color-light);
}

.dark .greeting {
  color: var(--text-color-dark);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.app-grid-container {
  height: 400px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.app-grid-container::-webkit-scrollbar {
  width: 6px;
}

.app-grid-container::-webkit-scrollbar-track {
  background: transparent;
}

.app-grid-container::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: transform 0.2s ease;
  padding: 0.5rem;
  border-radius: 12px;
  scroll-snap-align: start;
}

.light .app-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dark .app-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.light .app-icon {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.dark .app-icon {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid var(--border-color-dark);
}

.dark .app-icon svg {
  color: White;
}

.app-item:hover .app-icon {
  transform: scale(1.05);
}

.app-name {
  font-size: 0.875rem;
  transition: color 0.3s ease;
  text-align: center;
}

.light .app-name {
  color: var(--text-color-light);
}

.dark .app-name {
  color: rgba(255, 255, 255, 0.7);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.light .search-bar {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.dark .search-bar {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color-dark);
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 0.875rem;
  width: 100%;
  background: transparent;
  transition: color 0.3s ease;
}

.light .search-bar input {
  color: var(--text-color-light);
}

.dark .search-bar input {
  color: var(--text-color-dark);
}

.light .search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.dark .search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.right-panel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.image-container {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.light .image-container {
  background: #ffe4d9;
}

.dark .image-container {
  background: rgba(41, 28, 32, 0.8);
  border: 1px solid var(--border-color-dark);
}

.flamingo-frame {
  /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
  width: 200px;
  /* height: 280px; */
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.light .flamingo-frame {
  border: 2px solid #ffd700;
  background: white;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
}

.dark .flamingo-frame {
  border: 2px solid rgba(255, 215, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);
}

.flamingo-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.dark .flamingo-frame img {
  filter: brightness(0.9);
}

.flamingo-frame:hover img {
  transform: scale(1.05);
}

.info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.room-photo {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.light .room-photo {
  background: #f5f5f5;
}

.dark .room-photo {
  background: #2a1f1d;
  border: 1px solid var(--border-color-dark);
}

.room-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.dark .room-photo img {
  filter: brightness(0.8);
}

.room-photo:hover img {
  transform: scale(1.05);
}

.notification {
  border-radius: 16px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.light .notification {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.dark .notification {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--border-color-dark);
  backdrop-filter: blur(5px);
}

.date-display {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.light .date-display {
  /* background: rgba(255, 255, 255, 0.8); */
  /* color: var(--text-color-light); */
}

.date-display {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  color: white;
  border: 1px solid var(--border-color-dark);
}

.notification-content {
  font-size: 0.875rem;
  transition: color 0.3s ease;
}

.light .notification-content {
  color: var(--text-color-light);
}

.dark .notification-content {
  color: rgba(255, 255, 255, 0.9);
}

.notification-content p {
  margin-top: 0.5rem;
  transition: color 0.3s ease;
}

.light .notification-content p {
  color: rgba(0, 0, 0, 0.7);
}

.dark .notification-content p {
  color: rgba(255, 255, 255, 0.7);
}

.notification-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary {
  color: white;
}

.light .btn-primary {
  background: var(--accent-color-light);
  box-shadow: 0 0 20px rgba(0, 122, 255, 0.2);
}

.dark .btn-primary {
  background: var(--accent-color-dark);
  box-shadow: 0 0 20px rgba(61, 126, 255, 0.2);
}

.btn-primary:hover {
  filter: brightness(1.1);
}

.btn-secondary {
  background: transparent;
  border: 1px solid;
}

.light .btn-secondary {
  color: var(--text-color-light);
  border-color: var(--border-color-light);
}

.dark .btn-secondary {
  color: rgba(255, 255, 255, 0.9);
  border-color: var(--border-color-dark);
}

.btn-secondary:hover {
  background: rgba(0, 0, 0, 0.05);
}

.dark .btn-secondary:hover {
  background: rgba(255, 255, 255, 0.15);
}

.desktop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  z-index: -1;
  filter: blur(20px);
  transition: background 0.3s ease;
}

.light .desktop::before {
  background: linear-gradient(
    45deg,
    rgba(0, 122, 255, 0.1),
    rgba(255, 215, 0, 0.1)
  );
}

.dark .desktop::before {
  background: linear-gradient(
    45deg,
    rgba(61, 126, 255, 0.1),
    rgba(255, 215, 0, 0.1)
  );
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.desktop {
  animation: fadeInScale 0.5s ease-out forwards;
}

.app-item {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.3s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profilepicture {
    background-image: url('FOUNDERSCONNECT-154-removebg-preview.png');
    background-size: cover;
    width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  background-position: top;
  /* border: 2px solid #2d1b24; */
  border-radius: 24px;
  /* background-color: rgb(176, 185, 185); */
  background-color: #ffd4b8;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
}

.profilename {
    background-color: white;
    padding: 20px;
    border-radius: 24px;
    width: 70%;
    text-align: center;
    font-family: cursive;
    /* font-size: 25px !important; */

}

.dark .profilename {
    background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid var(--border-color-dark);
}

.light .profilename {
    background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.profile-image {
    width: 100%;
  height: 350px;
  border-radius: 24px;
  overflow: hidden;
  transition: all 0.3s ease;

  }
  
  .light .profile-image {
    /* border: 2px solid rgb(107, 107, 107); */
    /* background: rgb(107, 107, 107); */
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
  }
  
  .dark .profile-image {
    border: 2px solid rgba(255, 215, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);
  }
  
  .name {
    height: 50px;
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile {
    gap: 1em !important;
  }

  .login-img{
    background-image: url('pexels-frostroomhead-7911758.jpg');
    height: 100%;
    border-radius: 24px;
  }

  .settings {
    position: absolute;
    bottom: 10px;
  }

  .settings ul {
    list-style: none;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .settings ul a {
    color: #1a1a1a;
    text-decoration: none;
  }
  .settings ul li:last-child a {
    color: Red !important;
  }

  .settings ul li{
    display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
  transition: transform 0.2s ease;
  padding: 0.5rem;
  border-radius: 12px;
  scroll-snap-align: start;
  }

  .light .settings ul li:hover{
    background-color: rgba(0, 0, 0, 0.05);
  }

  .dark .settings ul li a {
    color: var(--text-color-dark);
  }

  .dark .settings ul li:hover{
    background-color: rgba(255, 255, 255, 0.05);
  }

  .container, .pcontainer{
    border-radius: 12px;
    padding: 16px;
  }

  .light .container, .light .pcontainer {
    background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .dark .container, .dark .pcontainer {
    background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid var(--border-color-dark);
  }

  .rprofile{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  .pcontainer:not(:first-child) {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .pcontainer:not(:first-child) p{
    justify-content: space-between;
    display: flex;
  }

  .pcontainer:not(:first-child) p i{
    text-align: right;
  }

  .pcontainer div:nth-child(2){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pcontainer img{
    width: 16%;
    margin: 2%;
  }


  .navigation {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    z-index: 1;
  }


  .timeanddate {
    text-align: center;
    text-shadow: 2px 5px 20px #2a1f1d2d;
    /* color: rgba(0, 0, 0, 0.6); */
    font-weight: 1000;
  }

  .time {
    font-size: 60px;
  }


  .dark .timeanddate {
    color: rgba(255, 255, 255, 0.6);
  }


  .period {
    opacity: .5;
  }

  table {
    width: 100%;
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .dark table {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color-dark);
  }
thead th, tbody th {
    padding: 0 0 30px 0 !important;
}

table td {
    padding: 0 0 10px 0;
}